CONFIG_IDF_TARGET="esp32"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="../../partitions.csv"
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_ENABLE=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384
CONFIG_MBEDTLS_SSL_PROTO_DTLS=y
CONFIG_MBEDTLS_HAVE_TIME_DATE=y
CONFIG_MBEDTLS_X509_CREATE_C=y
CONFIG_MBEDTLS_X509_CRT_WRITE_C=y
CONFIG_LWIP_NETIF_LOOPBACK=y
CONFIG_ANJAY_LIBRARY_WITH_TRACE_LOGS=n
CONFIG_ANJAY_WITH_DOWNLOADER=n
CONFIG_ANJAY_WITH_MODULE_FW_UPDATE=n
CONFIG_ANJAY_WITH_MODULE_ADVANCED_FW_UPDATE=n
CONFIG_ANJAY_WITH_MODULE_SW_MGMT=n
CONFIG_ANJAY_WITH_BOOTSTRAP=n
CONFIG_ANJAY_WITH_LWM2M11=n
CONFIG_ANJAY_WITH_MODULE_IPSO_OBJECTS=n
CONFIG_ANJAY_WITH_THREAD_SAFETY=n
